# Unity Catalog and Iceberg Demo with Databricks Connect

This notebook demonstrates how to use Databricks Connect to work with Apache Iceberg tables in Unity Catalog. We will use the `samples.nyctaxi.trips` dataset.

**Steps:**
1.  Initialize Databricks Connect.
2.  Set up the catalog and schema.
3.  Read data from the source table (`samples.nyctaxi.trips`).
4.  Create a new managed Iceberg table.
5.  Perform schema evolution.
6.  Use time travel to query historical data.

## 1. Initialize Databricks Connect

This assumes you have configured your environment for Databricks Connect. Typically, this involves:
- Running `databricks configure` and providing your host (`https://e2-demo-field-eng.cloud.databricks.com/`) and a token.
- To use a serverless SQL warehouse, set the `DATABRICKS_CLUSTER_ID` environment variable to your warehouse ID.

In [1]:
from databricks.connect import DatabricksSession
from pyspark.sql.functions import col, current_timestamp

# Initialize the DatabricksSession
spark = DatabricksSession.builder.getOrCreate()

print("DatabricksSession initialized successfully.")
print("Spark version:", spark.version)

DatabricksSession initialized successfully.
Spark version: 3.5.2

## 2. Setup Catalog and Schema

Let's define a catalog and schema for our demo assets.

In [2]:
catalog_name = "rohitb_dais2025_demo"
schema_name = "iceberg_demo"

spark.sql(f"CREATE CATALOG IF NOT EXISTS {catalog_name}")
spark.sql(f"USE CATALOG {catalog_name}")
spark.sql(f"CREATE SCHEMA IF NOT EXISTS {schema_name}")
spark.sql(f"USE SCHEMA {schema_name}")

print(f"Using catalog '{catalog_name}' and schema '{schema_name}'.")

Using catalog 'rohitb_dais2025_demo' and schema 'iceberg_demo'.

## 3. Read from Source Table

We'll read from the `samples.nyctaxi.trips` table provided by Databricks.

In [3]:
source_table = "samples.nyctaxi.trips"
source_df = spark.read.table(source_table)

# Display a few rows to inspect the data
display(source_df.limit(5))

DataFrame[tpep_pickup_datetime: timestamp, tpep_dropoff_datetime: timestamp, trip_distance: double, fare_amount: double, pickup_zip: int, dropoff_zip: int]

## 4. Create and Load a Managed Iceberg Table

Now, we will create a new Iceberg table using a subset of the columns from the source table. We'll also limit the data to 10,000 rows.

In [4]:
iceberg_table_name = "nyc_taxi_trips_iceberg"

# Select a subset of columns and data
taxi_df = source_df.limit(10000)

# Write the data to a new managed Iceberg table
taxi_df.write.format("iceberg").mode("overwrite").saveAsTable(iceberg_table_name)

print(f"Created and loaded Iceberg table: {catalog_name}.{schema_name}.{iceberg_table_name}")

Created and loaded Iceberg table: rohitb_dais2025_demo.iceberg_demo.nyc_taxi_trips_iceberg

In [5]:
# Query the new table to verify
display(spark.table(iceberg_table_name).limit(10))

DataFrame[tpep_pickup_datetime: timestamp, tpep_dropoff_datetime: timestamp, trip_distance: double, fare_amount: double, pickup_zip: int, dropoff_zip: int]

In [9]:
display(spark.sql(f"describe table extended {iceberg_table_name}"))

DataFrame[col_name: string, data_type: string, comment: string]

## 5. Schema Evolution

Let's add a new column `last_updated_ts` to track when the record was last modified.

In [6]:
spark.sql(f"ALTER TABLE {iceberg_table_name} ADD COLUMN last_updated_ts TIMESTAMP")

print("Schema evolved. Added column 'last_updated_ts'.")

# Verify the new schema
display(spark.sql(f"DESCRIBE TABLE {iceberg_table_name}"))

Schema evolved. Added column 'last_updated_ts'.

DataFrame[col_name: string, data_type: string, comment: string]

## 6. Time Travel

We can query the table's history and view the data as it was before the schema change.

In [7]:
# View the table history
display(spark.sql(f"DESCRIBE HISTORY {iceberg_table_name}"))

DataFrame[version: bigint, timestamp: timestamp, userId: string, userName: string, operation: string, operationParameters: map<string,string>, job: struct<jobId:string,jobName:string,jobRunId:string,runId:string,jobOwnerId:string,triggerType:string>, notebook: struct<notebookId:string>, clusterId: string, readVersion: bigint, isolationLevel: string, isBlindAppend: boolean, operationMetrics: map<string,string>, userMetadata: string, engineInfo: string]

In [8]:
# Query the table at version 1 (before the ALTER TABLE statement)
df_v1 = spark.read.option("versionAsOf", 1).table(iceberg_table_name)

print("Schema of table at version 1:")
df_v1.printSchema()

Schema of table at version 1:
root
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- pickup_zip: integer (nullable = true)
 |-- dropoff_zip: integer (nullable = true)
 |-- last_updated_ts: timestamp (nullable = true)

Notice that the `last_updated_ts` column is not present in the schema of the first version.

## 7. Cleanup

Run the following commands to remove the resources created in this demo.

In [ ]:
# spark.sql(f"DROP TABLE IF EXISTS {iceberg_table_name}")
# spark.sql(f"DROP SCHEMA IF EXISTS {schema_name}")
# spark.sql(f"DROP CATALOG IF EXISTS {catalog_name}")
# print("Cleaned up resources.")